<p><%= flash[:notice] %></p>
<div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto"><i class="fas fa-book"></i><strong>Bookers</strong></h1>
  </div>
  
 <h1 class='lead'>紹介</h1>
 
 <div class="card-group shadow mb-5 bg-body-tertiary rounded">
  
    <div class="card ">
      <%= image_tag 'funny_image.jpeg', width: 90, height: 130, class: "card-img-top border-bottom" %>
      <div class="card-body">
        <h4 class="card-title">面白さ</h4>
        <p class="card-text text-center">人生は、面白いほうが楽しいです。よいしょー</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">RRR.inc</small>
      </div>
    </div>
    
    <div class="card">
      <%= image_tag 'sns_image.jpeg', width: 90, height: 130,class: "card-img-top border-bottom" %>
      <div class="card-body">
        <h4 class="card-title">安全性</h4>
        <p class="card-text text-center">SNSを扱ううえで重要なことは、沼にハマらないこと。</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">RRR.inc</small>
      </div>
    </div>
    
    <div class="card">
      <%= image_tag 'work_image.jpeg', width: 90, height: 130,class: "card-img-top border-bottom" %>
      <div class="card-body">
        <h4 class="card-title">協調性</h4>
        <p class="card-text text-center">協調性がありすぎて、壁に穴が空いてます。</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">RRR.inc</small>
      </div>
    </div>
    
    
    
 </div>
</div>



